<!-- templates/partials/comment_form.html -->

<form action='/playlists/comments' method='post'>
    <input type='hidden' value='{{ playlist._id }}' name='playlist_id'/> <!--hidden form field to the form and set the value to the playlist' id-->
    <fieldset>
        <legend>Add a Comment</legend>
        <div class='form-group'> <!-- TITLE -->
            <label for='comment-title'>Title</label><br>
            <input class='form-control'
                id='comment-title'
                type='text'
                name='title'
                placeholder='Title'/>
        </div>

        <div class='form-group'> <!-- DESCRIPTION -->
            <label for='comment-content'>Description</label><br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='10'
                placeholder='Your comment...'></textarea>
        </div>
    </fieldset>

    <div class='form-group'> <!-- BUTTON -->
        <button class='btn btn-primary' type='submit'>Save Comment</button>
    </div>
</form>