<!-- templates/partials/playlists_form.html -->

<fieldset> <!--The fieldset element represents a set of form controls optionally grouped under a common name-->
    <legend>{{ title }}</legend> <!--The legend element represents a caption for the rest of the contents of the legend element's parent fieldset element, if any-->
    <div class='form-group'> <!-- TITLE -->
        <label for='playlist-title'>Title</label><br>
        <input class='form-control' id='playlist-title' type='text' name='title' value='{{ playlist.title }}'/>
    </div>
    <div class='form-group'> <!-- DESCRIPTION -->
        <label for='description'>Description</label><br>
        <!-- <input type='text' name='description' /> -->
        <input class='form-control' id='description' type='text' name='description' value='{{ playlist.description }}' />
    </div>
    <div class='form-group'> <!-- VIDEO LINKS -->
        <label for='playlist-videos'>Videos</label><br>
        <p class='text-muted'>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea class='form-control' id='playlist-videos' name='videos' rows='10'> {{ "\n".join(playlist.videos) }}</textarea>
    </div>
    <div class='form-group'> <!--RATINGS-->
        How would you rate the playlist?
        <select id = 'rating' name='rating'> <!-- drop down defaulted at 5' -->
            <option value=5 selected = 'selected'>5</option>
            <option value=4>4</option>
            <option value=3>3</option>
            <option value=2>2</option>
            <option value=1>1</option>
        </select>
    </div> 
</fieldset>

<p>
    <!-- <a href='/'>Cancel</a>
    <button type='submit'>Save Playlist</button>  -->
</p>
