<!-- templates/playlists_show.html -->
{% extends 'base.html' %}

{% block content %}
    <a href='/'>Back To Home</a>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>{{ playlist.title }}</h1>

            {% if playlist.created_at %}
                <p class='text-muted'>Created on {{ playlist.created_at.strftime('%A, %d %B, %Y') }}
                    at {{ playlist.created_at.strftime('%I:%M %p') }}</p>
            {% endif %}

            <h3>{{ playlist.description }}</h3> 
            <p class='text-muted'>Rating is: {{ playlist.rating }}</p>

            {% for video in playlist.videos %}
                <div class="card"><div class="card-body">
                    <iframe width="420" height="315" src="{{ video }}"></iframe>
                </div></div>
            {% endfor %}
            <p><a href='/playlists/{{ playlist._id }}/edit'>Edit</a></p>
            <p><form method='POST' action='/playlists/{{ playlist._id }}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete</button>
            </form></p>


            {% include 'partials/comment_form.html' %} <!-- Comment form -->
            <hr>
            {% for comment in comments %} <!-- Show Comments -->
                {% include 'partials/comment.html' %}
            {% endfor %}
        </div>
    </div>

    <!-- <h1>{{ playlist.title }}</h1>
    <h5>{{ playlist.description }}</h5>
    {% for video in playlist.videos %}
        <iframe width='420' height='315' src='{{ video }}'></iframe>
    {% endfor %}
    <p><a href="/playlists/{{ playlist._id }}/edit" >Edit</a></p> 
    <p><form method='POST' action='/playlists/{{ playlist._id }}/delete'>
        <button type='submit'>Delete</button>
    </form></p> -->

{% endblock %}