<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/playlists'> <!--The form tag has an HTML attribute called action that has a value equal to the path we want our form to submit its data to. /playlists is the route to our create action-->
            {% include "partials/playlists_form.html" %} <!-- put our form file from playlists_form.html file -->
            <div class='form-group'> <!-- BUTTON -->
                <button class='btn btn-primary' type='submit'>Save Playlist</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}