<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'> <!--The form tag has an HTML attribute called action that has a value equal to the path we want our form to submit its data to. /playlists is the route to our create action-->
    <fieldset> <!--The fieldset element represents a set of form controls optionally grouped under a common name-->
        <legend>New Playlist</legend> <!--The legend element represents a caption for the rest of the contents of the legend element's parent fieldset element, if any-->
        <p> <!-- TITLE -->
            <label for='playlist-title'>Title</label><br>
            <input id='playlist-title' type='text' name='title'/>
        </p>
        <p> <!-- DESCRIPTION -->
            <label for='description'>Description</label><br>
            <input type='text' name='description' />
        </p>
        <p> <!-- VIDEO LINKS -->
            <label for='playlist-videos'>Videos</label><br>
            <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
            <textarea id='playlist-videos' name='videos' rows='10'></textarea>
        </p>
 
    </fieldset>

    <p>
        <button type='submit'>Save Playlist</button> <!-- BUTTON -->
    </p>
</form>
{% endblock %}